
  <div id="content" class="home-dir container">
    <h1>סבתא נויה</h1>
    <div class="nav-safta">
    <ul>
          <li> <a ui-sref="home.mazaltov">
        מזל טוב
      </a><li>
      <li class="redfont"> <a ui-sref="home.mishpuche">
        משפוחה
      </a><li>
    </ul>
        </div>
          <hr>
    <img src="http://www.edu-negev.gov.il/tapuz/Sigaltp/396_1.gif"/>


      <div ui-view >

      </div>

</div>
