<div>
  <input ng-model="thename" placeholder="הקש שם"/>
  <input ng-model="mothername" placeholder="שם האם"/>
  <input ng-model="fathername"  placeholder="שם האב"/>

  <p style="padding:22px;">
  <!-- The person is -->
  <!-- {{thename}} בן {{mothername}} ו{{fathername}} -->
  <br>
  {{totalName}}
  </p>
</div>
