<!doctype html>
<html ng-app>
  <head>
    <script src="/angular.js"></script>
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <h1>
So Long {{yourName}},and Thanks for All the Fish
</h1>
    </div>
  </body>
</html>
