
<div style='width:40%;margin: 0 auto;padding:20px;border-radius:15px;border:1px solid blue;color:{{titleColor1}};'>
  <h2>Image Details</h2>
  <pre>{{$id}}</pre>
  <h3 id="title2">Title: {{ourBossIsTooHardOnUs}}</h3>
  <input type="text"  ng-model="ourBossIsTooHardOnUs"/>
</div>
