<div style="text-align: center">
      <label>Title </label>
      --{{$id}}
      <input type="text" ng-model="vm.titleText" placeholder="Title here">
      <input type="text" ng-model="vm.titleColor" placeholder="Color here">


      <p>
          <!-- < my-really-flexible-image-presenter template="vm.template" posx="vm.posx" posy="vm.posy"></my-really-flexible-image-presenter> -->
        <img src="/images/endoftheworld.png"/>

        <div style="text-align: center">{{vm.titleText}}</div>
        <div style="text-align: center">{{vm.titleColor}}</div>

        <pre>--{{vm.titleText}}--</pre>
        <details-image-presenter title-color1="vm.titleColor" title-text2="vm.titleText"></details-image-presenter>

        <!-- <div style='width:40%;margin: 0 auto;padding:20px;border-radius:15px;border:1px solid blue;color:{{vm.titleColor}};'>
          <h2>Image Details</h2>
          <h3>Title: {{vm.titleText}}</h3>
        </div> -->
      </p>
    </div>
