<div style="text-align: center">
      <label>Title </label>
      <input type="text" ng-model="vm.titleText" placeholder="Title here">
      <input type="text" ng-model="vm.titleColor" placeholder="Color here">


      <p>
          <!-- < my-really-flexible-image-presenter template="vm.template" posx="vm.posx" posy="vm.posy"></my-really-flexible-image-presenter> -->
        
        <img ng-src="{{vm.imageSrc}}" width="75%"/>

        <div style="text-align: center">{{vm.titleText}}</div>
        <div style="text-align: center">{{vm.titleColor}}</div>

        <details-image-presenter score="vm.score" title-color="vm.titleColor" title-text="vm.titleText"></details-image-presenter>
      </p>
    </div>
