<div class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:;">My App</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="javascript:;" ui-sref="shell.home">Home</a>
            </li>
            <li><a href="javascript:;" ui-sref="shell.help">Help</a>
            </li>
        </ul>
    </div>
</div>

<div id="content" class="container-fluid">
    <div ui-view="contentView">
        <!-- Content goes here -->
    </div>
    <pre dir="ltr">{{vm|json}}</pre>
</div>
